* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: ProductSans;
}
@font-face {
    font-family: ProductSans;
    src: url(../../assets/fonts/ProductSansRegular.ttf);
}
body {
    padding: 25px;
}
#employee_profile_table_caption {
    font-size: 5vw;
    font-weight: bold;
    color: navy;
    background-color: lightgray;
    padding: 10px;
    border-radius: 15px;
}
#employee_profile_table_head {
    font-size: 3vw;
    color: white;
    background-color: black;
}
.employee_profile_table_head_cells {
    padding: 15px;
    border-radius: 15px;
}
#employee_profile_table_body {
    font-size: 2.50vw;
}
.employee_profile_table_key_cells {
    font-weight: bold;
}
.lightgray_rows {
    background-color: lightgray;
}
.darkgray_rows {
    background-color: darkgray;
}
.employee_profile_table_body_cells {
    padding: 3px 15px;
}
